.container {
    overflow-x: auto;
    margin: 10px;
    flex-basis: 700px;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    min-width: 450px;
    background-color: aliceblue;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .container{
        width: 400px;
        margin: 0px;
        padding: 0px;
    }
}