.result__fieldset {
    max-width: 450px;
    text-align: center;
    margin: 25px auto;
    padding: 15px;
    border-color: #1d8294;
}

.result__legend {
    text-align: left;
    border: 1px solid #333;
    padding: 5px;
    color: #323283;
    border-color: #1d8294;
}

.result__button {
    padding: 12px;
    color: #fff;
    background: #1d8294;
    border: 1px;
}

.result__button:hover {
    background: hsl(189, 67%, 40%);
}

.result__button:active {
    background: #1c1c49;
}

.result {
    padding: 10px;
    margin-left: 5px;
}

.result__button--reset {
    width: 100%;
    max-width: 450px;
}