.header {
    font-size: 28px;
    font-weight: 700;
    background: aliceblue;
    padding-top: 10px;
 }

 @media (max-width: 767px) {
    .header {
        padding-top: 5px;
        margin: 0;
    }
}