html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}
body {
  font-family: 'Lato', sans-serif;
  color: #222227;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-image: url(../src/images/money.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}